<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>User:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Created by:</b>
  <%= @user.created_by %>
</p>

<p>
  <b>Created on:</b>
  <%= @user.created_on %>
</p>

<p>
  <b>Updated by:</b>
  <%= @user.updated_by %>
</p>

<p>
  <b>Updated on:</b>
  <%= @user.updated_on %>
</p>

<p>
  <b>Delete no:</b>
  <%= @user.delete_no %>
</p>

<p>
  <b>Version no:</b>
  <%= @user.version_no %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
