<h1>Listing places</h1>

<table>
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Place name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Comment</th>
    <th>Created by</th>
    <th>Created at</th>
    <th>Updated by</th>
    <th>Updated at</th>
    <th>Delete no</th>
    <th>Version no</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.id %></td>
    <td><%= place.user_id %></td>
    <td><%= place.place_name %></td>
    <td><%= place.latitude %></td>
    <td><%= place.longitude %></td>
    <td><%= place.comment %></td>
    <td><%= place.created_by %></td>
    <td><%= place.created_at %></td>
    <td><%= place.updated_by %></td>
    <td><%= place.updated_at %></td>
    <td><%= place.delete_no %></td>
    <td><%= place.version_no %></td>
    <td><%= link_to 'Show', place %></td>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Place', new_place_path %>

<div id="map" style="width: 500px; height: 500px"></div>
