<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @location.id %>
</p>

<p>
  <b>Title:</b>
  <%= @location.title %>
</p>

<p>
  <b>Description:</b>
  <%= @location.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<p>
  <b>Created by:</b>
  <%= @location.created_by %>
</p>

<p>
  <b>Created on:</b>
  <%= @location.created_on %>
</p>

<p>
  <b>Updated by:</b>
  <%= @location.updated_by %>
</p>

<p>
  <b>Updated on:</b>
  <%= @location.updated_on %>
</p>

<p>
  <b>Delete no:</b>
  <%= @location.delete_no %>
</p>

<p>
  <b>Version no:</b>
  <%= @location.version_no %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
